/*共通部分*/
body{
  margin:0;
}
li{
  list-style:none;
}
.container{
  max-width:850px;
  margin:0 auto;
}
a{
  text-decoration:none;
}
*{
  box-sizing:border-box;
}


/*-----------------------------トップ画面----------------------------*/

/*PC用の画面*/
/*ヘッダー*/
header{
  color:#fff;
  position:relative;
  height:600px;
}
header img{
  height:600px;
  width: 100%;
}
.menu{
  padding:10px 0 10px 10px;
  font-size:15px;
  background-color:#fff;
}
.menu p{
  margin-top:0;
}
header .navi{
  position:absolute;
  top:30px;
  right:30px;
}
header .logo{
  position:absolute;
  top:30px;
  left:30px;
}


/*ここからkey frames*/
.img1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
 
  /* アニメーションプロパティ*/
  animation-name: changeMainImage;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}
.img14 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
 
  opacity: 0;
 
  /* アニメーションプロパティ
   2枚目以降はanimation-delayを設定して
 アニメーション開始タイミングを遅らせる*/
  animation-name: changeMainImage;
  animation-delay: 5s;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}
.img15 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
 
/*アニメーションプロパティ*/
  animation-name: changeMainImage;
  animation-delay: 10s;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}
.img16 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
 
  /*アニメーションプロパティ*/
  animation-name: changeMainImage;
  animation-delay: 15s;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}
.img17 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  opacity: 0;
 
  /*アニメーションプロパティ
   ラストの画像はchangeMainImageLastという他と違うアニメーション
   表示をいい感じにするために
   ブラウザでタイミングを見ながら微調整して作成したため */
  animation-name: changeMainImageLast;
  animation-delay: 20s;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}

@keyframes changeMainImage {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  33% {
    opacity: 0.1;
  }
  35% {
    opacity: 0;
  }
}
@keyframes changeMainImageLast {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
/*ここまでkey frames*/


.logo p:first-child{
  margin-top:0;
  font-size:50px;
  font-weight:bold;
  margin-bottom:0;
}
.logo p:nth-child(2){
  font-size:10px;
}
.logo p:nth-child(2){
  display:inline-block;
}
.logo{
  margin-left:89px;
  margin-top:29px;
}
header .navi{
  display:flex;
  margin-top:49px;
  margin-right:16px;
}
header li{
  margin-left:50px;
}
.navi li:hover{
  border-bottom:2px solid #fff;
  padding-bottom:5px;
}
header li a{
  color:#fff;
}


/*メイン*/
#message{
  padding: 100px 0;
  background-color:#F6F6F6;
  text-align:center;
}
#message .container p:first-child{
  font-size:40px;
  margin-bottom: 40px;
}
#message .container p:nth-child(2),#message .container p:nth-child(3),
#message .container p:nth-child(4),#message .container p:nth-child(6){
  font-size:20px;
  line-height:1.8em;
}
#message p:nth-child(5){
  font-size:40px;
  font-weight:bold;
  margin:40px 0;
}


/*本が並んでいる所*/
#product{
  padding:100px 0;
}
.product-more,.news-more{
  display:flex;
  justify-content:space-between;
}
.product-more a:hover{
  background-color:#13191B;
  color:#fff;
}
.product-more2 a{
  color:#13191B;
  display:block;
  padding:22px 52px;
  border:1px solid #13191B;
}
.product-more2{
  width:176px;
  display:none;
}
.product-more a,.news-more a{
  color:#13191B;
  display:block;
  padding:22px 52px;
  border:1px solid #13191B;
}
.product-more h2,.news-more h2{
  margin-top:20px;
  margin-bottom: 0;
  font-size: 40px;
}
#product .flex{
  display:flex;
  flex-wrap:wrap;
  margin-top: 50px;
}
#product .flex li{
  margin-right:20px;
  margin-bottom: 40px;
}
#product .flex li:hover{
  opacity:0.8;
}
#product .flex li p{
  color:#13191B;
  font-size: 20px;
}


/*ニュースの所*/
#news{
  background-color:#F6F6F6;
  padding:100px 0;
}
.news-more2 a{
  color:#13191B;
  display:block;
  padding:22px 52px;
  border:1px solid #13191B;
}
.news-more a:hover{
  background-color: #13191b;
  color: #ffffff;
}
.news-more2{
  width:176px;
  display:none;
}
.imformation{
  display:flex;
  align-items:flex-start;
  justify-content:center;
  margin-top:124px;
}
.imformation img{
  display:block;
}
.explain{
  margin-left:50px;
}
.explain h3{
  font-size:20px;
  width:460px;
  line-height:1.5em;
}
.explain p:nth-child(2){
  font-size:20px;
  margin:10px 0;
}
.text{
  font-size:18px;
  width:520px;
  line-height:1.7em;
  display: block;
  color:#0d0d0c;
}


/*sns*/
.sns{
  display:flex;
  justify-content:center;
  padding:20px 0;
}
.sns li{
  margin-right: 10px;
}
.sns a{
  display:block;
  padding:20px 20px;
}
.sns a:first-child{
  color:#4870A9;
  border:1px solid #4870A9;
}
.sns a:nth-child(2){
  color:#76C0D5;
  border:1px solid #76C0D5;
  margin-right:20px;
}
.sns a:nth-child(3){
  color:#3E9ECE;
  border:1px solid #3E9ECE;
  margin-right:20px;
}


/*下から2番目のナビゲーション*/
#footer-navi{
  background-color:#939899;
  padding-top:20px;
  padding-bottom:20px;
  display:flex;
}
#footer-navi ul{
  display:flex;
}
#footer-navi a{
  display:block;
  color:#fff;
  margin-right:45px;
}


/*フッター*/
footer{
  padding:40px 0;
  color:#fff;
  background-color:#656B6E;
}
footer .container{
  text-align: center;
}


/*タブレット用の画面*/
@media screen and (max-width: 768px){
  body{
    position:relative;
  }
  .header-img {
    overflow:hidden;
  }
  .img1,.img14,.img15,.img16,.img17 {
    top:0;
  }
  header .logo{
    position:absolute;
    left:200px;
    top:200px;
  }
  .logo p:first-child{
    font-size:50px;
    margin-bottom:0;
  }
  .logo p:nth-child(2){
    font-size:15px;
    margin-top: 10px;
  }
  header .navi{
    display:none;
  }


/*ハンバーガーメニュー*/
nav.globalMenuSp {
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}
nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}


nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}


/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}
.navToggle {
  position:absolute;
  right:40px;
  top:40px;
  
  /* bodyに対しての絶対位置指定 */
  width: 42px;
  height: 51px;
  cursor: pointer;
  background: #666;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;
  /* .navToggleに対して */
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}


/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.globalMenuSp.active>.navi {
  /* 追記 */
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
}

.globalMenuSp.active li {
  /* 追記 */
  margin-left: 0;
}
.main{
  display: flex;
  flex-direction:column;
}
/*ハンバーガーメニューここまで*/


/*productの所*/
.product-more,.news-more{
  padding-left:40px;
  padding-right:40px;
}
#product .flex {
  display: block;
  padding-left:100px;
}
#product .flex li a{
  display:flex;
}
#product .flex li p{
  padding-top:40px;
  margin-left:100px;
  line-height:1.5em;
}
.imformation img{
  width: 30vw;
}
.explain h3,.text{
  width:53vw;
}
.text{
  font-size: 15px;
}
.explain p:nth-child(2){
  font-size: 15px;
}



/*snsの所*/
.sns a {
  padding-left:30px;
  padding-right:30px;
}

/*一番下*/
footer{
  text-align:center;
}
}


@media screen and (max-width: 414px){  
  /*ヘッダー*/
  header .logo{
    top:100px;
    left:10px; 
  }
  header .navi{
    display:none;
  }
  .logo p:first-child{
    font-size:40px;
    margin-bottom:0;
  }
  .logo p:nth-child(2){
    font-size:10px;
    margin-left:30px;
  }
  .menu{
    height:30px;
    background-color:#fff;
  }


  /*「旅に出よう」の所*/
  #message .container p:nth-child(1),
  #message .container p:nth-child(5){
    font-size: 30px;
  }
  #message .container p:nth-child(2),
  #message .container p:nth-child(3),
  #message .container p:nth-child(4),
  #message .container p:nth-child(6){
    font-size: 15px;
  }


  /*本が並んでいる所*/
  .product-more h2, .news-more h2 {
    font-size: 30px;
  }
  .product-more a{
    display:none;
  }
  .product-more{
    justify-content:center;
  }
  .product-more2{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
  }
  .product-more2 a:hover{
    background-color:#13191B;
    color:#fff;
  }

  #product .flex li a {
    flex-direction:column;
    justify-content:center;
  }
  .flex img{
    width:80%;
  }
  .flex p{
    font-size:20px;
    font-weight:bold;
  }
  #product .flex li p {
    padding-top: 0;
    margin-left: 0;
  }


  /*ニュースの所*/
  .news{
    margin-top:100px;
    background-color:#F6F6F6;
    padding-bottom:60px;
  }
  .news-more{
    display:flex;
    justify-content:center;
  }
  .news-more a{
    display:none;
  }
  .news-more2{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    display:block;
  }
  .news-more2 a:hover{
    background-color:#13191B;
    color: #ffffff;
  }
  .imformation{
    flex-wrap:wrap;
justify-content:center;
    margin-top:30px;

  }
  .imformation img {
    width: 80vw;
  }
  .explain p:nth-child(3){
    display:none;
  }
  .explain h3{
    font-size:17px;
    width:70vw;
    margin-top: 20px;
  }
  .explain{
    margin-left:0;
  }
  .explain p:nth-child(2){
    font-size:10px;
  }
  .explain p:nth-child(3){
    font-size:15px;
  }


  /*snsの所*/
  .sns{
    flex-wrap:wrap;
  }
  .sns li{
    margin-top:20px;
    margin-right:0;
  }
  .sns li:first-child{
    margin-right: 10px;
  }
  .sns a{
    display:block;
    padding:20px 10px;
  }
  #footer-navi{
    padding: 0;
  }
  #footer-navi ul{
    display:flex;
    flex-direction:column;
    margin:0;
    padding-left:0;
  }
  #footer-navi li{
    padding:20px 0;
    border-bottom:1px solid #fff;
    width: 100vw;
    text-align:center;
  }
  #footer-navi a{
    margin-right: 0;
    justify-content:center;
  }
  .footer-navi li:last-child{
    padding-bottom:0;
    border:none;
  }
  footer{
    text-align:center;
  }
  footer small{
    font-size:10px;
  }
}
